@model Vuelos.Models.ClaseVuelo

@{
    ViewData["Title"] = "Edit";
}

<h2>Modificar</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modificacion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vuelo" class="control-label"></label>
                <input asp-for="Vuelo" class="form-control" />
                <span asp-validation-for="Vuelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linea_Aerea" class="control-label"></label>
                <input asp-for="Linea_Aerea" class="form-control" />
                <span asp-validation-for="Linea_Aerea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Demorado" /> @Html.DisplayNameFor(model => model.Demorado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <button asp-action="Index" class="btn btn-danger"> Cancelar </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
